.container {
    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
    position: sticky;
    right: 50%;
}

.pricebtn {
    width: 70%;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 8px;
    border: lightgray 2px solid;
}