.list {
    display: flex;
    margin-left: 2vw;
    }
    
    .categorybtn {
      width: 5vw;
      height: 5vh;
      margin-left: 10px;
      margin-bottom: 2vh;
      border:none;
      border-radius: 10px;
    }

    .categorybtn:hover {
        color: #495057;
    }

    .pickcategory{
        width: 6vw;
        height: 5vh;
        margin-left: 10px;
        margin-bottom: 2vh;
        border: #FBA7A7;
        border-radius: 10px;
        background-color: #FBA7A7;
    }
    