.main {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.titleimg {
  width: 40vw;
  max-width: 450px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.subimgdiv {
  width: 40vw;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}

.subimg {
  width: 20vw;
  max-width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px 10px;
}

.rightsection {
  width: 60vw;
  padding: 0 3rem;
}

.flexdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 10px 0;
}

.flexdiv span {
  font-size: small;
  color: lightgrey;
  margin: 5px;
}

.text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
