html,
body {
  padding: 0;
  margin: auto;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  max-width: 1200px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  transition: 0.1s;
}

button:active {
  transform: translateY(1px);
}

Input[type='radio'],
Input[type='checkbox'] {
  accent-color: black;
}

.ql-editor {
  min-height: 26vh;
}
