.adbox {
  width: 100%;
  height: 45vh;
  background-color: gray;
}


.selectDiv{
  display: flex;
  width: 70%;
  align-items: center;
  margin: 2vh auto;
}
.filterTitle {
  margin-right: auto;
}

.selectlist {
   display: flex;
   margin-left:2vw;
   font-size: regular;
   color: gray;
}
.isSelected {
  display:flex;
  color:black;
  font-weight: bolder;
}

.select {
  display:flex;
}

.cardsection {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 1rem;
  height: auto;
  overflow-x:hidden; 
  overflow-y:auto;
}

.floatingbtn {
  position:sticky;
  left: 1300px;
  bottom: 30px;
}